body{
    background-color:chocolate;
}
.logint{
    font-size: 24px;
    color: aliceblue;
    text-align: center;
}
.Flex1{
    display: flex;
    height: 120px;
    justify-content: space-around;
    flex-direction: column;
    transform: translateY(300%);
}
.inputb{
    justify-content: center;
    display: flex;
}
.inputbpass{
    justify-content: center;
    display: flex;
}
.inputdiv{
    border-radius: 10px;
    text-align: center;
}
.button1{
    justify-content: center;
    display: flex;
}